@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; /* Ensure the overlay is above other content */
}

.selectdogmodal {
  display: flex;
  width: 60%;
  height: fit-content;
  padding: 24px;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 16px;
  border-radius: 12px;
  border: 1px solid var(--Schemes-Outline-Variant, #f5e0bb);
  background: var(--Schemes-Surface-Bright, #fffbff);
  z-index: 4;
}

.selectgoalmodal {
  display: flex;
  width: 60%;
  height: fit-content;
  padding: 24px;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 16px;
  border-radius: 12px;
  border: 1px solid var(--Schemes-Outline-Variant, #f5e0bb);
  background: var(--Schemes-Surface-Bright, #fffbff);
  z-index: 4;
}

.card:focus {
  outline: 2px solid blue; /* Adjust style and color */
}

h2 {
  color: #000;
  /* M3/headline/medium */
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tasks {
  display: flex;
  width: 20%;
  padding: 24px 16px;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 4px;
  border-radius: 12px;
  /* border: 1px solid var(--Schemes-Outline-Variant, #d4c4b5); */
  background: rgba(245, 221, 218, 0.6);
  margin: 0px 16px 0px 32px;
  justify-content: center;
  color: #000;
}
p {
  /* M3/body/large */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  display: flex;
  margin: 0px;
  padding: 0px 24px;
  /* justify-content: center;
  align-items: center; */
  gap: 16px;
  align-self: stretch;
}

h3 {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 0px;
  padding: 0px 24px;
}

.dogimage {
  width: 50%;
}

.dogcard {
  width: fit-content;
  justify-content: center;
  height: 100vh; /* This ensures the container covers the entire viewport height */

  height: auto;
  display: flex;
  padding: 24px;
  flex-direction: column;
  /* align-items: center; */
  gap: 24px;
  border-radius: 12px;
  background: var(--M3-sys-light-surface-container-low, #fffbff);
  margin: 0 auto;

  /* M3/Elevation Light/1 */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

h1 {
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600px;
  letter-spacing: 5px;
  line-height: 44px; /* 122.222% */
  padding: 8px;
  margin: 16px;
}

h5 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 5px;
  line-height: 44px; /* 122.222% */
  padding: 8px;
  margin: 0px, 0px, 8px, 0px;
}

h6 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding: 32px 8px, 0px, 8px;
}

h8 {
  color: #000;

  /* M3/body/large */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  padding: 8px;
}

.messagemodal {
  display: flex;
  width: 60%;
  height: fit-content;
  padding: 24px;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 16px;
  border-radius: 12px;
  border: 1px solid var(--Schemes-Outline-Variant, #f5e0bb);
  background: var(--Schemes-Surface-Bright, #fffbff);
  z-index: 4;
}
