.backgroundpage {
  background-color: rgb(188, 188, 188);
  width: 100%;
  height: 100vh;
}
.pageheader {
  position: relative;
  top: 50px;
  left: 400px;
}
.pageheader2 {
  position: relative;
  top: 50px;
  left: 630px;
}
.emailinputbox {
  width: 350px;
  height: 30px;
  position: relative;
  top: 50px;
  left: 530px;
}
.usernameinputbox {
  width: 350px;
  height: 30px;
  position: relative;
  top: 55px;
  left: 530px;
}
.passwordinputbox {
  width: 350px;
  height: 30px;
  position: relative;
  top: 60px;
  left: 530px;
}
.loginbutton {
  width: 150px;
  height: 50px;
  position: relative;
  top: 80px;
  left: 625px;
  background-color: rgb(89, 89, 89);
  color: white;
}
.registerbutton {
  width: 180px;
  height: 85px;
  position: relative;
  top: 100px;
  left: 610px;
  background-color: rgb(89, 89, 89);
  color: white;
}
